h1 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  text-shadow: 5px -5px 0px rgba(0, 0, 0, 0.25);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  padding: 2em 0.5em 0em;
}
